html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: #fafafd;
}

::selection {
  background-color: #87a2f3 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-spartan {
  font-family: 'Spartan', sans-serif;
}
